<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>controllers.UsuarioServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/api/usuarios/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/api/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CadastroServlet</servlet-name>
        <servlet-class>controllers.CadastroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroServlet</servlet-name>
        <url-pattern>/api/cadastro</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>VagasServlet</servlet-name>
        <servlet-class>controllers.VagasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VagasServlet</servlet-name>
        <url-pattern>/api/vagas</url-pattern>
    </servlet-mapping>

</web-app>